<%- include("layout/header.ejs") %>
<main>
    <section id="home" class="hero">
        <div class="container">
            <h2 style="color: black;">Welcome to Shopping Karo,</h2>
            <h2 style="color: black;"> an E-commerce Website</h2>
            <p style="color: black;">Our major project on an e-commerce website showcases the use of tools and technologies like EJS, Express, Node.js, and MongoDB.</p>
            <p style="color: black;">Features include password encryption using bcrypt, JWT token for authentication, and roles with separate Admin and User Dashboards.</p>
            <a href="/products" class="btn">Shop Now</a>
        </div>
    </section>
    <!-- Add more sections as needed in index -->
</main>
<%- include("layout/footer.ejs") %>